DEV_POSTGRES_PORT=54329
DEV_REDIS_PORT=63791
WEB_PORT=5173
CHAT_PORT=4310
RESOLVER_PORT=4311
DEV_API_PORT=4312
WATCHLISTS_PORT=4313
MARKET_PORT=4321
DEV_POSTGRES_USER=postgres
DEV_POSTGRES_PASSWORD=postgres
DEV_POSTGRES_DB=market_agent
MA_FLAG_PLACEHOLDER_API=true
MA_FLAG_SHOW_DEV_BANNER=false
